<!-- <p> hello world</p> -->
<div class="corona-carousel">
    <h1 class="corona-carousel__headline">
        <span>Coronavirus:</span> How to protect yourself
    </h1>
    <div class="swiper-button-next next-arrow" data-link-name='corona carousel : next-arrow'></div>
    <div class="swiper-button-prev prev-arrow"></div>


    <div class="swiper-container">
        <div class="corona-carousel__slides swiper-wrapper">
            <div class="corona-carousel__slides__slide corona-carousel__slides__slide1 swiper-slide">
                <img src="https://media.guim.co.uk/c9380b6f890ec2a8be6963f5993c3aa9790fdb00/0_0_3000_1875/1000.jpg"
                    class="corona-carousel__slides__image" />
                <p>
                    <span>Wash your hands:</span> wet your hands with clean, running water. Apply soap. Lather your
                    hands, including the backs, between your fingers, and under your nails. Scrub for at least 20
                    seconds. Rinse.
                </p>
            </div>
            <div class="corona-carousel__slides__slide corona-carousel__slides__slide2 swiper-slide">
                <img src="https://media.guim.co.uk/e2b01d2cf2a74c6aacd70a7bce49847420b28859/0_0_6001_3750/1000.jpg"
                    class="corona-carousel__slides__image" />
                <p>
                    <span>Cover your mouth and nose with a tissue when you cough or sneeze,</span> then throw the tissue
                    in a bin and wash hands. If you don’t have a tissue to hand, <span>cough or sneeze into your
                        elbow</span> rather than your hands.
                </p>
            </div>
            <div class="corona-carousel__slides__slide corona-carousel__slides__slide3 swiper-slide">
                <img src="https://media.guim.co.uk/2013860f82b9d8110fdfd107459608122c230b72/0_0_6000_3751/1000.jpg"
                    class="corona-carousel__slides__image" />
                <p>
                    <span>Face masks offer some protection</span> as they block liquid droplets. However, they do not
                    block smaller aerosol particles that can pass through the material of the mask.
                </p>
            </div>
            <div class="corona-carousel__slides__slide corona-carousel__slides__slide4 swiper-slide">
                <img src="https://media.guim.co.uk/5399791fde48618190761f4f57cac4d211f8be6f/0_0_6000_3750/1000.jpg"
                    class="corona-carousel__slides__image" />
                <p>
                    <span>Seek early medical help by phone</span> if you have a fever, cough and difficulty breathing,
                    and share your travel history with healthcare providers.
                </p>
            </div>
            <!-- <div class="corona-carousel__slides__slide corona-carousel__slides__slide6 swiper-slide">
                <img src="https://media.guim.co.uk/674f5cf2f4794f67c92d691efaf21cd30ecd67c5/0_0_3001_1876/1000.jpg"
                    class="corona-carousel__slides__image" />
                <p>
                    If you are in an affected area
                    <span>avoid eating raw or undercooked animal products</span> and exercise care when handling raw
                    meat, milk or animal organs to avoid cross-contamination with uncooked foods.
                </p>
            </div> -->
            <div class="corona-carousel__slides__slide corona-carousel__slides__slide7 swiper-slide">
                <img src="https://media.guim.co.uk/5ed55f2485248058d2590217f1348933c2b1fc08/0_0_3000_1876/1000.jpg"
                    class="corona-carousel__slides__image" />
                <p>
                    If you have returned from an affected area in China, Iran, South Korea or Italy in the last two
                    weeks, <span>stay indoors and avoid contact with other people for 14 days.</span> This means not
                    going to work, school or public areas.
                </p>
            </div>
            <div class="corona-carousel__slides__slide corona-carousel__slides__slide8 swiper-slide">
                <img src="https://media.guim.co.uk/7794be54eb207bd4c151640b55fa563eaeb00543/0_0_3000_1876/1000.jpg"
                    class="corona-carousel__slides__image" />
                <p>
                    If you have returned from an infected area and develop a high temperature, cough, runny nose, sore
                    throat or difficulty breathing <span>do not leave your home until you have been given advice by a
                        doctor.</span>
                </p>
            </div>
        </div>
    </div>
    <div class="corona-carousel__footer">
        <div class="corona-carousel__pagination swiper-pagination">
            <div class="corona-carousel__pagination__dot corona-carousel__pagination__dot1"></div>
            <div class="corona-carousel__pagination__dot corona-carousel__pagination__dot2"></div>
            <div class="corona-carousel__pagination__dot corona-carousel__pagination__dot3"></div>
            <div class="corona-carousel__pagination__dot corona-carousel__pagination__dot4"></div>
            <div class="corona-carousel__pagination__dot corona-carousel__pagination__dot5"></div>
            <div class="corona-carousel__pagination__dot corona-carousel__pagination__dot6"></div>
            <div class="corona-carousel__pagination__dot corona-carousel__pagination__dot7"></div>
            <div class="corona-carousel__pagination__dot corona-carousel__pagination__dot8"></div>
        </div>
        <div class="atom--snippet__feedback">
            <div class="atom--snippet__feedback__text hide-message">Was this helpful?</div>
            <div class="atom--snippet__ack nice-message" hidden aria-role="alert" aria-live="polite">
                Thank you for your feedback
            </div>
            <button class="atom__button atom__button--round hide-message" data-link-name='corona carousel : thumbs-up'
                id="feedback-button" value="like" aria-label="Yes">
                <svg class="icon icon--thumb " width="100%" height="100%" viewBox="0 0 40 40">
                    <path fill="#FFF"
                        d="M33.78 22.437l-4.228 13.98L27.93 37.5 5.062 34.14V15.503l7.8-1.517L24.354 2.5h1.624L28.9 5.426l-4.548 8.67h.107l10.477 1.31">
                    </path>
                </svg>
            </button>
            <button class="atom__button atom__button--round atom--snippet__feedback__dislike hide-message"
                id="feedback-button" data-link-name='corona carousel : thumbs-down' value="dislike" aria-label="No">
                <svg class="icon icon--thumb " width="100%" height="100%" viewBox="0 0 40 40">
                    <path fill="#FFF"
                        d="M33.78 22.437l-4.228 13.98L27.93 37.5 5.062 34.14V15.503l7.8-1.517L24.354 2.5h1.624L28.9 5.426l-4.548 8.67h.107l10.477 1.31">
                    </path>
                </svg>
            </button>

        </div>
    </div>
</div>