<div class="corona-carousel">
    <h1 class="corona-carousel__headline">
        Tips for safer shopping
    </h1>
    <div class="corona-carousel__pagination swiper-pagination">
    </div>
    <div class="swiper-button-next next-arrow" data-link-name='corona shopping carousel : next-arrow'></div>
    <div class="swiper-button-prev prev-arrow" data-link-name='corona shopping carousel : prev-arrow'></div>


    <div class="swiper-container">
        <div class="corona-carousel__slides swiper-wrapper">
            <div class="corona-carousel__slides__slide corona-carousel__slides__slide1 swiper-slide">
                <img src="https://uploads.guim.co.uk/2020/03/25/shop-1.png" class="corona-carousel__slides__image" />
                <p>
                    <span>1</span> Stay 2 metres away from other customers and staff
                </p>
            </div>
            <div class="corona-carousel__slides__slide corona-carousel__slides__slide2 swiper-slide">
                <img src="https://uploads.guim.co.uk/2020/03/25/shop-2.png" class="corona-carousel__slides__image" />
                <p>
                    <span>2</span> Shop alone, not in groups
                </p>
            </div>
            <div class="corona-carousel__slides__slide corona-carousel__slides__slide3 swiper-slide">
                <img src="https://uploads.guim.co.uk/2020/03/25/shop-3.png" class="corona-carousel__slides__image" />
                <p>
                    <span>3</span> Only buy the essential things you need
                </p>
            </div>
            <div class="corona-carousel__slides__slide corona-carousel__slides__slide4 swiper-slide">
                <img src="https://uploads.guim.co.uk/2020/03/25/shop-4.png" class="corona-carousel__slides__image" />
                <p>
                    <span>4</span> Respect shopping hours for healthcare workers & the vulnerable
                </p>
            </div>
            <div class="corona-carousel__slides__slide corona-carousel__slides__slide7 swiper-slide">
                <img src="https://uploads.guim.co.uk/2020/03/25/shop-5.png" class="corona-carousel__slides__image" />
                <p>
                    <span>5</span> Use delivery services where possible
                </p>
            </div>
        </div>
    </div>
    <div class="corona-carousel__footer">
        <div class="atom--snippet__feedback">
            <div class="atom--snippet__feedback__text hide-message">Was this helpful?</div>
            <div class="atom--snippet__ack nice-message" hidden aria-role="alert" aria-live="polite">
                Thank you for your feedback
            </div>
            <button class="atom__button js-thumbs-up atom__button--round hide-message"
                data-link-name='corona shopping carousel : thumbs-up' id="feedback-button" value="like"
                aria-label="Yes">
                <svg class="icon icon--thumb " width="100%" height="100%" viewBox="0 0 40 40">
                    <path fill="#FFF"
                        d="M33.78 22.437l-4.228 13.98L27.93 37.5 5.062 34.14V15.503l7.8-1.517L24.354 2.5h1.624L28.9 5.426l-4.548 8.67h.107l10.477 1.31">
                    </path>
                </svg>
            </button>
            <button
                class="atom__button js-thumbs-down atom__button--round atom--snippet__feedback__dislike hide-message"
                id="feedback-button" data-link-name='corona shopping carousel : thumbs-down' value="dislike"
                aria-label="No">
                <svg class="icon icon--thumb " width="100%" height="100%" viewBox="0 0 40 40">
                    <path fill="#FFF"
                        d="M33.78 22.437l-4.228 13.98L27.93 37.5 5.062 34.14V15.503l7.8-1.517L24.354 2.5h1.624L28.9 5.426l-4.548 8.67h.107l10.477 1.31">
                    </path>
                </svg>
            </button>

        </div>
    </div>
</div>