<div class="corona-latest-carousel">
    <!-- <h1 class="corona-latest-carousel__headline">
        COVID-19 latest
    </h1> -->
    <div class="swiper-container">
        <div class="corona-latest-carousel__slides swiper-wrapper">
            <div class="corona-latest-carousel__slides__slide corona-latest-carousel__slides__slide1 swiper-slide">
                <div class="corona-latest-carousel__slides__slide__headline-wrapper">
                    <a class="corona-latest-carousel__slides__slide__headline" target="_parent"
                        href="https://www.theguardian.com/world/series/coronavirus-at-a-glance/latest"
                        data-link-name="corona explainers carousel : article one">
                        Coronavirus latest: at a glance
                        <svg width="100%" height="100%" viewBox="0 0 22 23" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="11" cy="11.7218" r="11" fill="white" />
                            <path
                                d="M17.7457 11.5826L11.5631 5.38046L11.2696 5.96742L15.7109 11.2892H4.20654V12.4631H15.7109L11.2696 17.7652L11.5631 18.3522L17.7457 12.1696V11.5826Z"
                                fill="#121212" />
                        </svg>
                    </a>
                </div>
                <div class="corona-latest-carousel__slides__slide__image corona-latest-carousel__slides__slide__image1">
                </div>

            </div>
            <div class="corona-latest-carousel__slides__slide corona-latest-carousel__slides__slide2 swiper-slide">
                <div class="corona-latest-carousel__slides__slide__headline-wrapper">

                    <a class="corona-latest-carousel__slides__slide__headline"
                        href="https://www.theguardian.com/world/series/coronavirus-live/latest" target="_parent"
                        data-link-name="corona explainers carousel : article two">
                        <span class="live">Live /</span> COVID-19 live blog
                        <svg width="100%" height="100%" viewBox="0 0 22 23" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="11" cy="11.7218" r="11" fill="white" />
                            <path
                                d="M17.7457 11.5826L11.5631 5.38046L11.2696 5.96742L15.7109 11.2892H4.20654V12.4631H15.7109L11.2696 17.7652L11.5631 18.3522L17.7457 12.1696V11.5826Z"
                                fill="#121212" />
                        </svg>
                    </a>
                </div>
                <div class="corona-latest-carousel__slides__slide__image corona-latest-carousel__slides__slide__image2">
                </div>
            </div>
            <div class="corona-latest-carousel__slides__slide corona-latest-carousel__slides__slide3 swiper-slide">
                <div class="corona-latest-carousel__slides__slide__headline-wrapper">
                    <a class="corona-latest-carousel__slides__slide__headline"
                        href="https://www.theguardian.com/world/2020/mar/25/coronavirus-key-questions-answers-everything-you-need-to-know-covid-19"
                        target="_parent" data-link-name="corona explainers carousel : article three">
                        Coronavirus key questions: everything you need to know
                        <svg width="100%" height="100%" viewBox="0 0 22 23" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="11" cy="11.7218" r="11" fill="white" />
                            <path
                                d="M17.7457 11.5826L11.5631 5.38046L11.2696 5.96742L15.7109 11.2892H4.20654V12.4631H15.7109L11.2696 17.7652L11.5631 18.3522L17.7457 12.1696V11.5826Z"
                                fill="#121212" />
                        </svg>
                    </a>
                </div>
                <div class="corona-latest-carousel__slides__slide__image corona-latest-carousel__slides__slide__image3">
                </div>
            </div>
            <div class="corona-latest-carousel__slides__slide corona-latest-carousel__slides__slide4 swiper-slide">
                <div class="corona-latest-carousel__slides__slide__headline-wrapper">
                    <a class="corona-latest-carousel__slides__slide__headline"
                        href="https://www.theguardian.com/world/coronavirus-outbreak" target="_parent"
                        data-link-name="corona explainers carousel : article four">
                        Explore our full coverage of the coronavirus outbreak
                        <svg width="100%" height="100%" viewBox="0 0 22 23" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="11" cy="11.7218" r="11" fill="white" />
                            <path
                                d="M17.7457 11.5826L11.5631 5.38046L11.2696 5.96742L15.7109 11.2892H4.20654V12.4631H15.7109L11.2696 17.7652L11.5631 18.3522L17.7457 12.1696V11.5826Z"
                                fill="#121212" />
                        </svg>
                    </a>
                </div>
                <div class="corona-latest-carousel__slides__slide__image corona-latest-carousel__slides__slide__image4">
                </div>
            </div>
        </div>
    </div>
    <div class="corona-latest-carousel__pagination swiper-pagination"></div>
    <div class="swiper-button-next next-arrow" data-link-name='corona explainers carousel : next-arrow'></div>
    <div class="swiper-button-prev prev-arrow" data-link-name='corona explainers carousel : prev-arrow'></div>
    <!-- <div class="corona-latest-carousel__footer">
        <div class="atom--snippet__feedback">
            <div class="atom--snippet__feedback__text hide-message">Was this helpful?</div>
            <div class="atom--snippet__ack nice-message" hidden aria-role="alert" aria-live="polite">
                Thank you for your feedback
            </div>
            <button class="atom__button js-thumbs-up atom__button--round hide-message"
                data-link-name='corona carousel : thumbs-up' id="feedback-button" value="like" aria-label="Yes">
                <svg class="icon icon--thumb " width="100%" height="100%" viewBox="0 0 40 40">
                    <path fill="#FFF"
                        d="M33.78 22.437l-4.228 13.98L27.93 37.5 5.062 34.14V15.503l7.8-1.517L24.354 2.5h1.624L28.9 5.426l-4.548 8.67h.107l10.477 1.31">
                    </path>
                </svg>
            </button>
            <button
                class="atom__button js-thumbs-down atom__button--round atom--snippet__feedback__dislike hide-message"
                id="feedback-button" data-link-name='corona carousel : thumbs-down' value="dislike" aria-label="No">
                <svg class="icon icon--thumb " width="100%" height="100%" viewBox="0 0 40 40">
                    <path fill="#FFF"
                        d="M33.78 22.437l-4.228 13.98L27.93 37.5 5.062 34.14V15.503l7.8-1.517L24.354 2.5h1.624L28.9 5.426l-4.548 8.67h.107l10.477 1.31">
                    </path>
                </svg>
            </button>

        </div>
    </div> -->
</div>